*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inter, sans-serif;
}
navbar {
  display: flex;
  align-items: center;
  background-color:#12222A;
  padding:30px 25px;
  height:90px;
}

.nav--logo_text, .nav--title {
  margin: 0;
} 
.nav--icon{
  height: 70px;
  margin: 7px;

}
.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22;
}
.nav--title{
  margin-right: auto;
  color: #DEEBF8;
  font-weight: 600;
}